
@{ ViewData["Title"] = "Drop Down List"; }

<h2>Drop Down List</h2>
<form method="post">

    <div>
        <p><b>Month</b></p>
        <input name="first" style="display:none" value="Month" />
        <select name="second">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
    </div>

    <div>
        <button name="submit" type="submit" formaction="~/Controls/ShowResult" class="btn btn-secondary">Submit</button>
    </div>

</form>