
@{ ViewData["Title"] = "Page Controls"; }

<div class="text-start">
    <h1 class="h1">Controls</h1>
    <p>
        <ul>
            <li>
                <a href="/Controls/TextBox">TextBox</a>
            </li>
            <li>
                <a href="/Controls/TextArea">TextArea</a>
            </li>
            <li>
                <a href="/Controls/CheckBox">CheckBox</a>
            </li>
            <li>
                <a href="/Controls/Radio">Radio</a>
            </li>
            <li>
                <a href="/Controls/DropDownList">DropDownList</a>
            </li>
            <li>
                <a href="/Controls/ListBox">ListBox</a>
            </li>
        </ul>
    </p>

</div>