
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="h1">Home</h1>
    <p>
        <ul>
            <li>
                <a href="/Home/SignUp">Sign Up</a>
            </li>
            <li>
                <a href="/Home/ResetPassword">Password Reset</a>
            </li>
        </ul>
    </p>

</div>